@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --primary-color: 12, 69, 99;
  --secondary-color: 190, 211, 223;
  --primary-bg-color: 29, 147, 209;
  --secondary-bg-color: 10, 116, 173;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 1px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--secondary-color));
}

main {
  width: 95vw;
  height: 95vh;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 0px 10px 2px rgba(var(--primary-color), 0.5);
}

.left-sidebar {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 300px;
  background: rgb(var(--secondary-color));
  position: relative;
  border-right: 3px solid rgb(var(--primary-color));
}

.logo {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 80px;
}

.user-info {
  background: linear-gradient(
    58deg,
    rgba(var(--primary-bg-color), 1) 20%,
    rgba(var(--secondary-bg-color), 1) 100%
  );
  display: flex;
  align-items: flex-start;
  padding: 15px;
  box-shadow: 1px 2px 3px rgb(var(--primary-color));
  justify-content: center;
  gap: 20px;
  min-height: 152px;
}

.user-picture svg {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  border: 3px solid rgba(var(--primary-color), 0.5);
  padding: 3px;
  background: rgba(var(--primary-color), 0.5);
}

#userLogin {
  color: rgb(var(--secondary-color));
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgb(var(--primary-color));
  padding: 0.9em 5em;
  background-image: linear-gradient(
    to right,
    rgb(var(--primary-bg-color)),
    rgb(var(--secondary-bg-color))
  );
  background-size: 200% 100%;
  border-radius: 10px;
  word-break: break-word;
  animation: anmBg 1s linear 3;
  
  -webkit-animation: anmBg 1s linear 3;
}


.dragging{
  opacity: 0.5;
}

.dragHoverTaskBoardDone{
  background-color: rgba(var(--secondary-bg-color), 0.5);
}


.dragHoverTaskBoard{
  background-color: rgba(var(--primary-bg-color), 0.5);
}

.placeholder {
  color: #0000;
  opacity: 0.5;
  background-image: linear-gradient(
    to right,
    rgb(var(--primary-bg-color)),
    rgb(var(--secondary-bg-color))
  );
  background-size: 200% 100%;
  animation: anmBg 1s linear 3;
  -webkit-animation: anmBg 1s linear 3;
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px 24px 5px rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

@keyframes anmBg {
  to {
    background-position: -170% 0;
  }
}


#logout {
  font-size: 0.7em;
  cursor: pointer;
}

#logout:hover {
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

#logout svg {
  width: 20px;
  right: 12px;
  top: 110px;
  position: absolute;
}

#logout p {
  position: absolute;
  top: 130px;
  right: 13px;
  color: rgb(var(--primary-color));
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  padding-top: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: rgb(var(--secondary-color));
  height: 30px;
  border-bottom-left-radius: 100px;
  width: 180px;
  background: rgb(var(--secondary-bg-color));
  justify-content: right;
  align-items: center;
  display: flex;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 10px;
  outline: 3px solid rgb(var(--secondary-bg-color));
}

.add-task {
  background: linear-gradient(
    58deg,
    rgba(var(--primary-bg-color), 1) 20%,
    rgba(var(--secondary-bg-color), 1) 100%
  );
  width: 100%;
  bottom: 0;
  position: absolute;
  border-bottom-left-radius: 15px;
  padding: 10px;
  box-shadow: 1px -2px 3px rgb(var(--primary-color));
  display: flex;
  flex-direction: column;
}

#addTaskValidation {
  height: 15px;
  display: flex;
  justify-content: center;
}

#addTaskValidation span {
  display: none;
  font-size: 0.7em;
  padding-bottom: 5px;
  align-self: center;
  color: #b32e2e;
  font-weight: bold;
  font-style: italic;
}

.new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  height: 230px;
}

.new-task #newTask {
  width: 95%;
  height: 95%;
  margin: auto;
  resize: none;
  padding: 15px;
  font-size: 1.4em;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 2px rgba(var(--primary-color), 0.5);
  background: rgb(var(--secondary-color));
  border: none;
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

#createTaskButton {
  width: 150px;
  padding: 8px;
  color: rgb(var(--secondary-color));
  font-size: 15px;
  font-weight: 600;
  border: 1px solid rgba(var(--primary-color), 0.6);
  border-radius: 100px;
  cursor: pointer;
  background: linear-gradient(
    58deg,
    rgba(var(--primary-bg-color), 1) 20%,
    rgba(var(--secondary-bg-color), 1) 100%
  );
  box-shadow: 1px 2px 3px rgba(var(--primary-color), 1);
}

#createTaskButton:hover {
  filter: brightness(1.03);
}

#createTaskButton:disabled {
  opacity: 0.3;
  cursor: default;
}

.container {
  width: 60%;
  background: rgb(var(--secondary-bg-color));
  border-right: 3px solid rgb(var(--primary-color));
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(var(--secondary-bg-color));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#taskBoard {
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 50px 40px;
}

.task-board-header {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(var(--secondary-color));
  text-align: center;
}

.right-sidebar {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background: rgb(var(--primary-bg-color));
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-y: auto;
  display: flex;
}

#taskContainer {
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px 24px 5px rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

.tooltip {
  display: none;
  font-size: 0.5em;
  padding-left: 5px;
  align-self: center;
  color: #b32e2e;
  font-weight: bold;
  font-style: italic;
  width: 80px;
}

#taskContainer .header {
  margin-top: 5px;
  width: 40%;
  border-radius: 50px;
  margin-left: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 2px 6px;
  background: rgba(var(--primary-color), 0.6);
}

#taskContainer .desc {
  height: 150px;
  padding: 5px;
  word-break: break-word;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  outline: none;
  overflow: hidden;
}

#taskContainer .header svg {
  width: 15px;
  height: 15px;
}

#taskContainer .header svg path {
  opacity: 0.5;
}
#taskContainer .date {
  height: 20px;
  font-size: 0.7em;
  font-weight: bold;
  padding-right: 10px;
  font-style: italic;
  justify-content: right;
  display: flex;
  align-items: center;
}

#taskContainer .updateDesc {
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
}

#taskContainer .updateDesc svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: none;
}

#taskContainer .updateDesc svg:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

#taskContainer .footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tooltiptext {
  visibility: hidden;
  background: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
  padding: 2px 6px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 0;
  opacity: 0.6;
  text-align: center;
  letter-spacing: 0.1em;
}

#taskContainer .header #editTask:hover + .tooltiptext {
  visibility: visible;
  cursor: pointer;
}
#editTask:hover,
#deleteTask:hover,
#checkTask:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#taskContainer .header #deleteTask:hover + .tooltiptext {
  visibility: visible;
}

.container #taskContainer .header #checkTask:hover + .tooltiptext {
  visibility: visible;
}

.right-sidebar #taskContainer .header #checkTask:hover + .tooltiptext:after {
  visibility: visible;
  content: 'Desfazer';
  background: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
  font-style: italic;
  text-align: center;
  padding: 2px 6px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.1em;
}

.right-sidebar #taskContainer .header #deleteTask:hover + .tooltiptext:after {
  visibility: visible;
  content: 'Apagar';
  background: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
  font-style: italic;
  text-align: center;
  padding: 2px 6px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.1em;
}

#taskContainer .footer .updateDesc #cancelUpdate:hover + .tooltiptext {
  visibility: visible;
}

#taskContainer .footer .updateDesc #saveUpdate:hover + .tooltiptext {
  visibility: visible;
}

.placeholder {
  color: #0000;
  opacity: 0.5;
  background-image: linear-gradient(
    to right,
    rgb(var(--primary-bg-color)),
    rgb(var(--secondary-bg-color))
  );
  background-size: 200% 100%;
  animation: anmBg 1s linear 3;
  -webkit-animation: anmBg 1s linear 3;
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px 24px 5px rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

@keyframes anmBg {
  to {
    background-position: -170% 0;
  }
}